@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

html {
  position: relative;
  min-height: 100%;
  
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("https://media.giphy.com/media/8zR1DN0aPjIis/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-bottom: 50px;
    background-color: #fff;
    height: 80px;
}

h2 {
    font-size: 40px;
    margin-bottom: -10px;
    color: #c5a805;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.container {
    width: 100%;
    padding: 10px;
}


.row{
    margin-bottom: 10px;
}

form {
    text-align: center;
    padding-top: 50px;
}

.gifBtn {
    background-color: #c5a805;
    height: 30px;
    width: 120px;
    margin: 0 5px 5px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.gifBtn:hover, gifBtn:active {
    background-color: #d3b81f;
}

#search {
    height: 30px;
    width: 290px;
    margin: 0 0 10px 0; 
    font-size: 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc; 

}

#search-btn {
    height: 30px;
    width: 145px;
    background-color: #383838;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

#clear-btn {
    height: 30px;
    width: 145px;
    background-color: #f5f5f5;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.img-class {
    margin: 0 10px 10px 0;
    border: 2px solid #a785e7;
    border-radius: 5px;
}

.message {
    font-size: 30px;
}


@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 576px) {
    body {
        
        background-image: url("https://media.giphy.com/media/8zR1DN0aPjIis/giphy.gif");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .wrapper {
        width: 100%;
    }

    header {
        margin-bottom: 50px;
        padding: 5px 0 0 0;
        background-color: #fff;
        height: auto;
      
    }
    .container{
        margin: 0 auto;
        padding: 0;
    }

    .row {
        text-align: center;
    }
}
